body {
    width: 500px;
    text-align: center;
    margin: auto    ;
   
}
.olAmarela {
    background-color: rgb(252, 248, 1);
}
ol li:nth-child(odd){
    background-color: green;
}
ol li:nth-child(even){
    text-transform: uppercase;
}
img {
    width: 100px;
}
.leftList {
    text-align: left;
} 

.red.em {
    color: red;
    font-size: 40px;
    border:  1px solid black;
}
ol li {
    font-family: 'Courier New', Courier, monospace;
}

.px20.negrito {
    font-weight: bold;
}
li {
    font-size: 20px;
}
li.liFonteAzul.javaBackgroundPink {
    background-color: palevioletred;
}
.liFonteAzul {
    color: blue;
}
a {
    text-decoration: none;
    color: white;
}
a:active {
    color: rgb(247, 0, 0);
}
.lg {
    width: 80px;
    border: 1px solid black;
    line-height: 50px;
    display: inline-block;
    margin: 2px;
    padding: 5px;
    height: 30px;
}

.parceirosDev {
    width: 150px;
    line-height: 50px;
    padding: 1px;
    background-color: rgb(134, 218, 230);
    border-radius: 10px;
    margin-bottom: 5px;
    font-style: italic;
    
}
li.parceirosDev:hover {
    font-weight: bolder;
}

li.parceirosDev.StackOverflow:hover {
    color: orange;
    background-color: orange;
}
li.greem:hover {
    color: green;
    background-color: green;
}
li.MDM:hover {
    color: black;
    background-color: black;
}
li.DevDocs:hover {
    color: yellow;
    background-color: yellow;
}