body {
    width: 500px;
    text-align: center;
    margin: auto    ;
   
}
.olAmarela {
    background-color: rgb(252, 248, 1);
}
ol li:nth-child(odd){
    background-color: green;
}
ol li:nth-child(even){
    text-transform: uppercase;
}
img {
    width: 100px;
}
.leftList {
    text-align: left;
} 
.red.em {
    color: red;
    font-size: 40px;
    border:  1px solid black;
}
ol li {
    font-family: 'Courier New', Courier, monospace;
}

.px20.negrito {
    font-weight: bold;
}
li {
    font-size: 20px;
}