.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 20px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 350px;
    z-index: 2;
    left: 100px;
  }
  
  .baloon {
  
  }
  
  .speech {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
 
  }