.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 20px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 350px;
    z-index: 2;
    left: 100px;
  }
  
  .baloon {
    width: 200px;
    position: absolute;
    left: 250px;
  
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    left: 275px;
    z-index: 4;
  }
  
  .bowser {
    width: 300px;
    position: absolute;
    left: 350px;
    top: 210px;
  }
